@import 'tailwindcss';

@plugin 'tailwind-light-dark';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-avocado-50: oklch(0.99 0 0);
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --color-avocado-700: oklch(0.42 0.11 118.34);
  --color-avocado-800: oklch(0.32 0.09 118.34);
  --color-avocado-900: oklch(0.22 0.06 118.34);
  --color-avocado-950: oklch(0.12 0.03 118.34);
}

html {
    scroll-behavior: smooth;
}